$base: #2979ff;
$base-sub: #5194e2;

$danger: #ff3300;
$waring: #ff9900;
$success: #339900;

$t-base: #333;
$t-999: #999;
$t-666: #666;
$t-ccc: #ccc;

$b-base: #f2f2f2;
$b-sub: #f4f4f4;

$border-base: #eee;
